<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'feedback/forms.css' %}">
</head>
<body>
    <h2>Оставьте отзыв</h2>  <!-- создание шаблона -->
    <form method="post">  <!--отправка в корень сайта через post запрос-->
        {% csrf_token %}  <!--проверка актуальности текущей сессии-->

        {% for field in about_the_window %}
            <div class="form-style {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }} <!--отображение подписи-->
                {{ field.errors }} <!--отображение строки если ошибка-->
                {{ field }} <!--отображение самого поля-->
            </div>
        {% endfor %}

        <button type="submit">отправить</button>
    </form>
</body>
</html>