{% extends 'movie_app/base.html'%}


{% block title %}{{actor}}{% endblock %}


{% block content %}
    <p>
        <a href="/">Все фильмы</a> |
        <a href="{% url 'все режиссёры' %}">Все режиссёры</a> |
        <a href="{% url 'актёры' %}">Все актёры</a>
    </p>
    <h2>Актёр</h2>
    <h3>Имя - {{actor.first_name}}</h3>
    <h3>Фамилия - {{actor.last_name}}</h3>
    <h4>Пол - {{actor.gender}}</h4>
    <hr>
    <h3>Список фильмов:</h3>
    <ul>
        {%for movie in actor.movies.all%}
            <li><a href="{{movie.get_url}}">{{movie}}</a></li>
        {%endfor%}
    </ul>

{% endblock %}