<div class="rightcolumn">
    <div class="card">
        <h2>Обо мне</h2>
        <div class="fakeimg" style="height:100px;">картинка</div>
        <p>Немного текста обо мне в качестве официального лица</p>
    </div>
    <div class="card">
        <h3>Популярные посты</h3>
        <div class="fakeimg">картинка</div><br>
        <div class="fakeimg">картинка</div><br>
        <div class="fakeimg">картинка</div>
    </div>
    <div class="card">
      <h3>Подписывайтесь на меня</h3>
      <p>Какой-то текст...</p>
    </div>
</div>
